header {
    width: 100%;
    background-color: #FF69B4;
    text-align: center;
    background-image: url('img/barbie_kopf.png'); 
    background-size: cover; 
    background-position: center; 
    position: sticky;
    height: 50%; 
    overflow: hidden; 
    top: 0;
    z-index: 999;
}


header nav {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    position: sticky;
}

header nav ul {
    list-style: none;
    color: hsl(330, 100%, 75%);

    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color:hsl(330, 100%, 90%);
    font-weight: bold;
    padding: 15px;
    border-radius: 1em;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif;
}

header nav ul li a:hover {
    color:hsl(329, 100%, 77%);
    border-radius: 1em;
}


.profile-section {
    background-color: #FFF; 
    padding: 20px;
    text-align: left; 
    margin-top: 20px; 
}

.section-title {
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    color: rgb(255, 136, 196);
}

.profile-content {
    display: flex;
    align-items: center;
    margin-top: 20px; 
}

.profile-image {
    max-width: 300px; 
    height: auto;
    margin-right: 20px; 
    display: block; 
    margin: 0 auto; 
}

.profile-text {
    font-size: 1.1em;
    text-align: center;
    line-height: 1.5; 
    font-family: 'Neue Schriftart', sans-serif; 
}



.image-gallery {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px; 
    padding: 0 200px; 
}

.image-gallery img:hover {
    opacity: 80%;
}


.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px; 
}

.image-row a {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
}

.image-row img {
    max-width: 100%;
    height: auto;
}


.text-box {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto; 
    max-width: 800px; 
}


.text-box-container {
    padding: 20px; 
}


p {
    font-size: 1.1em; 
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    
    }

h1 {
    font-size: 5em; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    font-style: italic;
    color: rgb(255, 136, 196);
}

h2 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgb(255, 136, 196);
    padding-top: 2em; 
    scroll-margin-top: 2em; 
}

h3 {
    font-size: 1.1em; 
    font-family: 'Montserrat', sans-serif;
    color:hsl(330, 100%, 90%);
    text-align: center;

}

h3 a {
    color:hsl(330, 100%, 90%);
    text-decoration: none; 
    transition: color 0.3s; 
}

h3 a:hover {
    color:hsl(329, 100%, 77%);
}


.barbie-image {
    max-width: 100px; 
    height: auto; 
    margin-bottom: 40px;
}

  
.button {
    cursor: url('normal-cursor.png'), auto;
    
  }

  .newsletter-signup {
    background-color: #fff; 
    text-align: center;
    max-width: 600px; 
    margin: 0 auto; 
    border-radius: 5px;
}

.newsletter-signup h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #FF69B4; 
}

.newsletter-signup p {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font: optional;
    color: #333;
    margin-bottom: 20px;
}

.newsletter-signup label, .newsletter-signup input {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font: optional;
    color: #333; 
    margin-bottom: 20px;
}


.newsletter-signup input[type="email"] {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.newsletter-signup input[type="submit"] {
    background-color: #FF69B4; 
    color: #fff; 
    padding: 10px 20px 10px;
    border: none;
    margin-left: 0px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s; 
}




.newsletter-signup input[type="submit"]:hover {
    font-size: 1em;

    font-family: 'Montserrat', sans-serif;
    background-color: #FF1493; 
}

.form-group {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.form-group label {
    flex: 1; 
    text-align: left; 
    margin-right: 10px; 
}

.form-group input {
    flex: 2; 
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%; 
}








.music-icon {
    position: fixed;
    right: 20px;
    cursor: pointer;
    animation: float 3s ease-in-out infinite;
}

.music-icon img {
    width: 200px;
    height: auto;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

footer {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    text-align: right; 
    position: relative;
}

footer button {
    color:hsl(330, 100%, 90%);
    font-weight: bold;
    padding: 15px;
    border: none;
	box-shadow: 4px 4px 4px silver;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    transform: translateY(-50%);
    background-color: #FFF;

    right: 20px; 

    animation: float 3s ease-in-out infinite;
}

footer button:hover {
    background-color: hsl(329, 100%, 77%);
}



@media (max-width: 1024px) {
    .image-row a {
        flex-basis: calc(50% - 20px); 
    }

    .image-gallery {
        padding: 0 0; 
    }
}

@media (max-width: 767px) {
    .image-row a {
        flex-basis: calc(100% - 20px); 
    }
    .music-icon { display: none;
    }


}

    .image-gallery {
        padding: 0 0; 
    }

    @media (max-width: 700px){
    footer button { 
        display: none;
    }
    }
